@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-regular.ttf); }
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: lighter; }
@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: bold; }
.testh {
  font-size: 50px; }

body {
  background-color: #EEF1F4; }

a, p, h1, h2, h3, h4, h5, h6, span {
  font-family: 'Lato', sans-serif;
  font-family: 'Lato', sans-serif; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.3em;
  padding-bottom: 15px; }

p {
  font-size: 0.9em;
  letter-spacing: 1px; }

input[type="text"] {
  font-family: 'Lato', sans-serif; }

.button-custom {
  border: 1px solid #03A9F4;
  color: #03A9F4;
  padding: 3px 6px;
  transition: all 0.4s ease; }
  .button-custom:hover {
    text-decoration: none;
    color: white;
    background-color: #03A9F4; }

.category-section, .right-bar {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px #cfd7e0; }
  .category-section .heading, .right-bar .heading {
    border-bottom: 2px solid #EEF1F4;
    padding: 15px 0 15px; }
    .category-section .heading h3, .right-bar .heading h3 {
      margin: 2px 0;
      float: left; }
    .category-section .heading a, .right-bar .heading a {
      float: right; }
  .category-section .body, .right-bar .body {
    padding: 15px 0; }

.right-bar .heading {
  border: none;
  padding-bottom: 0; }
  .right-bar .heading h3 {
    border-bottom: 1px solid #03A9F4;
    padding-bottom: 15px; }

.green-border-bottom {
  border-bottom: 4px solid #4CAF50; }

.red-border-bottom {
  border-bottom: 4px solid #F44336; }

.add-reminder {
  color: lightgray;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px; }

.navbar {
  background: white; }
  .navbar a {
    color: #45586b;
    font-weight: bold !important; }
  .navbar .input-group {
    margin-left: 20px;
    margin-top: 10px;
    width: 20px; }
    .navbar .input-group input {
      border: none;
      box-shadow: none;
      width: 0px; }
  .navbar .navbar-nav > li > a {
    transition: 0.3s ease;
    transition-property: color,border; }
  .navbar .navbar-nav > li ul {
    box-shadow: none;
    border-radius: 0;
    border: none; }
  .navbar .navbar-nav > li:hover > a {
    padding-bottom: 14px;
    box-sizing: border-box;
    background: white;
    border-bottom: 1px solid #03A9F4;
    color: #03A9F4; }
  .navbar .navbar-nav > li:hover .dropdown-menu {
    display: block; }
    .navbar .navbar-nav > li:hover .dropdown-menu a {
      transition: all 0.2s ease; }
      .navbar .navbar-nav > li:hover .dropdown-menu a:hover {
        border-left: 3px solid #03A9F4;
        background: white;
        font-size: 14px;
        padding-left: 25px; }

#footer #info-footer {
  background-color: #343434; }
  #footer #info-footer div {
    padding: 30px 0; }
    #footer #info-footer div h4 {
      color: white; }
    #footer #info-footer div p {
      color: white;
      font-weight: lighter; }
#footer #copyright {
  background: #222222; }
  #footer #copyright div {
    padding: 15px 0; }
    #footer #copyright div h6 {
      padding-top: 3px;
      color: #888888; }
    #footer #copyright div a i {
      width: 30px;
      text-align: center;
      padding: 7px 0;
      margin: 0 4px;
      border-radius: 1px;
      background-color: #484848;
      color: #888888;
      transition: all 0.5s ease; }
    #footer #copyright div a:hover i {
      background-color: #03A9F4;
      color: white; }

#category {
  font-family: Lato; }
  #category .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch; }
    #category .row .col-md-4 {
      padding: 15px; }
      #category .row .col-md-4 .post-item {
        position: relative;
        background-color: white;
        padding: 15px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75); }
        #category .row .col-md-4 .post-item .post-item-image {
          width: 100%;
          min-height: 100px;
          max-height: 200px;
          position: relative;
          overflow: hidden; }
          #category .row .col-md-4 .post-item .post-item-image img {
            width: 100%; }
        #category .row .col-md-4 .post-item .post-item-desc {
          padding: 15px 0 15px 0; }
          #category .row .col-md-4 .post-item .post-item-desc a {
            text-decoration: none;
            font-size: 18px;
            line-height: 22px; }
        #category .row .col-md-4 .post-item .post-item-details li {
          opacity: .5;
          transition-duration: .4s; }
          #category .row .col-md-4 .post-item .post-item-details li i {
            font-size: 16px;
            vertical-align: text-bottom; }
          #category .row .col-md-4 .post-item .post-item-details li span, #category .row .col-md-4 .post-item .post-item-details li a {
            font-size: 12px; }
          #category .row .col-md-4 .post-item .post-item-details li a {
            text-decoration: none;
            color: black; }
            #category .row .col-md-4 .post-item .post-item-details li a i {
              margin-right: 4px; }
        #category .row .col-md-4 .post-item .post-item-details li:hover {
          opacity: 1; }

@media (max-width: 992px) {
  #category .row .post-item {
    height: auto; } }
.testp {
  background-color: #4CAF50; }

/*# sourceMappingURL=style.css.map */
