@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-regular.ttf); }
.testh {
  font-size: 50px; }

body {
  background-color: #EEF1F4; }

a, p, h1, h2, h3, h4, h5, h6, span {
  font-family: 'Lato', sans-serif;
  font-family: 'Lato', sans-serif; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.3em;
  padding-bottom: 15px; }

p {
  font-size: 0.9em;
  letter-spacing: 1px; }

input[type="text"] {
  font-family: 'Lato', sans-serif; }

.button-custom {
  border: 1px solid #03A9F4;
  color: #03A9F4;
  padding: 3px 6px;
  transition: all 0.4s ease; }
  .button-custom:hover {
    text-decoration: none;
    color: white;
    background-color: #03A9F4; }

.category-section, .right-bar {
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px #cfd7e0; }
  .category-section .heading, .right-bar .heading {
    border-bottom: 2px solid #EEF1F4;
    padding: 15px 0 15px; }
    .category-section .heading h3, .right-bar .heading h3 {
      margin: 2px 0;
      float: left; }
    .category-section .heading a, .right-bar .heading a {
      float: right; }
  .category-section .body, .right-bar .body {
    padding: 15px 0; }

.right-bar .heading {
  border: none;
  padding-bottom: 0; }
  .right-bar .heading h3 {
    border-bottom: 1px solid #03A9F4;
    padding-bottom: 15px; }

.navbar {
  background: white; }
  .navbar a {
    color: #45586b;
    font-weight: bold; }
  .navbar .input-group {
    margin-left: 20px;
    margin-top: 10px;
    width: 20px; }
    .navbar .input-group input {
      border: none;
      box-shadow: none;
      width: 0px; }
  .navbar .navbar-nav > li > a {
    transition: 0.3s ease;
    transition-property: color,border; }
  .navbar .navbar-nav > li ul {
    box-shadow: none;
    border-radius: 0;
    border: none; }
  .navbar .navbar-nav > li:hover > a {
    padding-bottom: 14px;
    box-sizing: border-box;
    background: white;
    border-bottom: 1px solid #03A9F4;
    color: #03A9F4; }
  .navbar .navbar-nav > li:hover .dropdown-menu {
    display: block; }
    .navbar .navbar-nav > li:hover .dropdown-menu a {
      transition: all 0.2s ease; }
      .navbar .navbar-nav > li:hover .dropdown-menu a:hover {
        border-left: 3px solid #03A9F4;
        background: white;
        font-size: 14px;
        padding-left: 25px; }

#footer #info-footer {
  background-color: #343434; }
  #footer #info-footer div {
    padding: 30px 0; }
    #footer #info-footer div h4 {
      color: white; }
    #footer #info-footer div p {
      color: white;
      font-weight: 400; }
#footer #copyright {
  background: #222222; }
  #footer #copyright div {
    padding: 15px 0; }
    #footer #copyright div h6 {
      padding-top: 3px;
      color: #888888; }
    #footer #copyright div a i {
      width: 30px;
      text-align: center;
      padding: 7px 0;
      margin: 0 4px;
      border-radius: 1px;
      background-color: #484848;
      color: #888888;
      transition: all 0.5s ease; }
    #footer #copyright div a:hover i {
      background-color: #03A9F4;
      color: white; }

.testp {
  background-color: #4CAF50; }

/*# sourceMappingURL=style.css.map */
