body{
  background-color: $background-color;
}
a,p,h1,h2,h3,h4,h5,h6,span{
  font-family: 'Lato', sans-serif;
}
h3{
  font-size:1.2em;
}
h4{
  font-size:1.3em;
  padding-bottom:$padding-vertical-in;
}
p{
  font-size: 0.9em;
  letter-spacing: 1px;
}
input[type="text"],input[type="password"],input[type="submit"],input[type="email"]{
  font-family: 'Lato', sans-serif;
}
.button-custom{
  background-color:$primaryColor;
  color:white;
  padding:4px 8px;
  transition: all 0.4s ease;
  border-radius:2px;
  font-size: 0.9em;

  &:hover{
    text-decoration: none;
    color:white;
    background-color: $primaryColor3;
  }

}

.vertical-div{
  height:$padding-vertical-out;
}


.green-border-bottom{
  border-bottom:4px solid $green;
}

.red-border-bottom{
  border-bottom:4px solid $red;
}

.add-reminder{ // Item containing this class should be in relative position
  color:darkgray;
  cursor:pointer;
}

i.material-icons{
  vertical-align:text-bottom;
}
